h1{
    color: lightblue;
    text-align: center;
}
h2{
    color: lightblue;
    text-align: left;
}
.navbar-toggler{
    background-color: lightblue;
}
#leiras{
    color: lightblue
}
#cucc{
    color: black;
}
img{
    width: 200px;
    height: 200px;
    text-align: left;
}
p{
    text-align: center;
}
#pecske{
    text-align: left;
}
#h1ke{
    text-align: left;
}